.overlayContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 5px solid red; */
    width: 100%;
    height: 100%;
    background-color: rgba(248, 244, 244, 0.821);
}