.headshotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
}


.headshot {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  border: 12px solid black;
  transform: scale(0.7);
  transform-origin: center center;
} 

.headshotImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 20%;
    display:block
}