.projectDemoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 5px;
    padding: 20px;
    background-color: white;
    /* border: 5px solid pink; */
}

.funFont2 {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 700;
  font-style: normal;
}
