
.headshotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.headshot {
  margin-top: 5px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  background: white;;
  cursor: pointer;
  box-shadow:
  0 10px 20px rgba(0,0,0,5);              
}

.headshot:hover {
  border: solid 10px #d1022f;
}

.headshot:active {
  box-shadow:
    0 2px 2px rgba(0,0,0,0.25);
} 

.headshot:focus,
.headshot:focus-visible {
  outline: none;             

}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.headshotImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 20%;
    display:block;
    opacity: 0;
    transition: opacity 0.3s ease;
    aspect-ratio: 1 / 1;
}

.headshotImageLoaded {
    opacity: 1;
}


.handWave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: handWave 2.0s ease-in-out 0.4s 2;
  margin-left: 15px;;
}

@keyframes handWave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  40% { transform: rotate(14deg); }
  50% { transform: rotate(-4deg); }
  60% { transform: rotate(10deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.funFont {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.funFont2 {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 700;
  font-style: normal;
}


