#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.parent {
  position: relative;
  /* border: 5px solid red; */
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tempHeader {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
