.funFont2 {
  font-family: "LXGW WenKai TC", cursive;
  font-weight: 700;
  font-style: normal;
}

.infoContainer {
    /* border: 5px solid #D61B3D;  */
    padding: 5px;
}

.audioContainer {
    display: flex;
    padding: 5px;
    margin-bottom: 50px;
    /* border: 5px solid green; */
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.audioContainer p a {
    color: black;
    text-decoration: underline;
}

