
.embla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 75%;
  min-height: 90%;;  
  /* border: 5px solid black; */
}


.viewport {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* padding: 2px; */
  /* margin-bottom: 100px; */
  /* border:5px solid blue; */
}

/* ---------- Container (slides wrapper) ---------- */
 .container {
  display: flex;
  flex-direction: row;
  height: 90%; 
  width: 90%;  
  transition: transform 0.25s ease; /* Smooth slide transitions speed*/
  /* border: 5px solid purple;  */
}

/* ---------- Slide styling ---------- */
.slide {
  flex: 0 0 90%;     /* Width of each slide */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 0.5rem;   /* Spacing between slides */
  transform: scale(0.85);
  opacity: 0.5;
  transition: transform 0.35s ease, opacity 0.35s ease;
  /* border: 5px solid green; */
  
}

/* ---------- Center selected slide ---------- */
.selected {
  transform: scale(1);
  opacity: 1;
}

/* ---------- Video styling ---------- */
.video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 20px;    
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
  display: block;
  /* border: 5px solid red; */
}

/* ---------- Carousel arrows ---------- */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.prev { left: -100px; }
.next { right: -100px; }

.prev:hover,
.next:hover {
  /* background: rgba(0, 0, 255, 0.7); */
  background: #d1022f;
}


.playOverlay {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  padding-left: 12px; 
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 5;
}

.playOverlay:hover {
  background: rgba(0, 0, 255, 0.7);
  transform: translate(-50%, -50%) scale(1.05);
}

.pauseOverlay .playIcon {
  letter-spacing: 4px;
  transform: translateX(2px);
  padding-right: 5px;
}

.videoDescriptions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px 10px;
  background: white;
  color: black;
  font-size: 2rem;
}

.description {
  align-self: flex-start;
  font-size: 1rem;
  line-height: 1.5;
}

.tools {
  align-self: flex-start;
  font-size: 1rem;
  line-height: 1.5;
}

.link {
  align-self: flex-start;
  line-height: 1.5;
  font-weight: 100;
}

.link:hover {
  text-decoration: underline;
}